
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/cinematic.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 8% 64%;
    --secondary-foreground: 0 0% 0%;

    --muted: 200 8% 64%;
    --muted-foreground: 0 0% 0%;

    --accent: 200 8% 64%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 200 8% 64%;
    --input: 200 8% 64%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;

    --sidebar-background: 200 8% 64%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 200 8% 64%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 200 8% 64%;
    --sidebar-ring: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 200 8% 64%;
    --secondary-foreground: 0 0% 0%;

    --muted: 200 8% 64%;
    --muted-foreground: 0 0% 0%;

    --accent: 200 8% 64%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 200 8% 64%;
    --input: 200 8% 64%;
    --ring: 0 0% 100%;
    
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 200 8% 64%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 200 8% 64%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 200 8% 64%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
